body {
    font-family: 'Segoe UI';
    margin: 0;
    background: #f1f5f9;
}

/* sidebar */
.sidebar {
    width: 200px;
    height: 100vh;
    background: #1e293b;
    color: white;
    position: fixed;
    padding: 20px;
}

/* conteúdo */
.content {
    margin-left: 220px;
    padding: 20px;
}

/* card */
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

input,
button {
    padding: 10px;
    margin: 5px;
}

/* tabela */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th {
    background: #3b82f6;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
}